:root {
	--bg-color: #202227;
	--typeWriterSpeed: 6s;
	--green-color: #519228;
}

html {
	min-height: 100%;
	color: #c8c8c8;
	font-size: 16px;
}

.red {
	color: red;
}

.green {
	color: #519228;
	font-weight: 900;
}

.gold {
	color: gold;
}

body {
	min-height: 100vh;
	margin: 0;
	scroll-behavior: smooth;
	overflow: hidden;
	background: var(--bg-color);
	background-repeat: no-repeat;
	color: white;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}

body::after {
	content: '';
	display: block;
	height: 30px;
}

.container {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	position: relative;
	max-width: 1200px;
	padding: 10px 5px;
	font-style: italic;
	font-size: 130%;
	display: flex;
}

.name {
	font-size: 2.2rem;
}

.about {
	max-width: 1200px;
	font-size: 1.1rem;
	line-height: 2.2rem;
	padding: 10px;
}

.contact a {
	color: gray;
}

.contact span:hover {
	color: orangered;
	transition: transform 0.5s;
	transform: scale(1.2);
}

.private-notes {
	margin-top: 40px;
	font-size: 0.8rem;
}

.private-notes a {
	color: red;
}

.private-notes a:hover,
.private-notes a:link,
.private-notes a:active,
.private-notes a:visited {
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	text-align: center;
}
